#nav-bar {
    display: flex;
    justify-content: space-between;

    padding: 10px 150px;

    background-color: #1f2937;
}
.logo-area {
    display: flex;
    gap: 10px;

    font-size: 30px;
    font-family: 'Gill sans', sans-serif;
    letter-spacing: 3px;

    color: #f9faf8;
}
.logo-image {
    width: 50.5px;
    border-radius: 50%;

    box-shadow: inset 10px 6px #ffca8b;
    background-color: #ffffff;
}
.links-area {
    display: flex;
    align-items: center;
}
.links {
    display: flex;
    align-items: center;
    gap: 40px;

    margin: 0px;
    padding: 0px;

    font-size: 12px;
    font-family: 'Verdana', sans-serif;
    letter-spacing: 1px;
}
.call-to-action {
    border-radius: 20px;
    padding: 10px 20px;

    background-color: #ffa500;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #e5e7eb;
}





#hero {
    display: flex;
    gap: 70px;

    padding-left: 150px;

    background: linear-gradient(90deg, rgba(31, 41, 55, 1) 0%, rgba(93, 100, 110, 1) 51%, rgba(145, 150, 157, 1) 100%);
}
.hero-message {
    display: flex;
    flex-direction: column;

    padding-top: 100px;
}
#footer .call-to-action, #hero .call-to-action {
    border-radius: 20px;
    padding: 10px 20px;

    font-family: 'Gill sans', sans-serif;
    letter-spacing: 1px;
    background-color: #ffa500;
}
#hero .call-to-action {
    align-self: flex-start;
}
img {
    width: 500px;
}
p,
h1 {
    margin-top: 0px;
    margin-bottom: 20px;
}
h1 {
    font-size: 40px;
    font-weight: 900;
    font-family: 'Gill Sans', sans-serif;
    letter-spacing: 1px;
    color: #f9faf8;
}
p {
    font-family: 'Gill Sans', sans-serif;
    letter-spacing: 0.2px;
    color: #e5e7eb;
}





.hero-extension {
    height: 400px;
    background: linear-gradient(90deg, rgba(31, 41, 55, 1) 0%, rgba(93, 100, 110, 1) 51%, rgba(145, 150, 157, 1) 100%);
}





#feature-section {
    position: relative;
    margin-top: -250px;
}
.cards {
    display: flex;
    justify-content: center;
    gap: 35px;
}
.cards img {
    width: 60px;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 300px;
    
    border: 1px solid #1f29370a;
    border-radius: 10px;
    padding: 40px 40px;
    box-sizing: border-box;

    box-shadow: 0px 19px 20px 8px #1f293726;
    background-color: white;
}
.card p {
    color: #1f2937c7;
}
h3 {
    font-family: 'Gill sans', sans-serif;
    letter-spacing: 0.5px;
}





#mission-section {
    display: flex;
    flex-direction: column;

    padding: 100px 150px;

    background: linear-gradient(180deg, rgba(54, 64, 78, 1) 0%, rgba(255, 255, 255, 1) 100%);
}
.title {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'Gill sans', sans-serif;
}
.title h2 {
    margin-bottom: 0px;

    letter-spacing: 1px;

    color: #f9faf8;
}
.title p {
    font-style: italic;
    letter-spacing: 0.8px;
}
hr {
    width: 50px;

    margin: 15px 0px;
    border-width: 2px;
}
.text {
    display: flex;
}
.text img {
    flex-shrink: 0;

    width: 600px;
}
.description {
    display: flex;
    flex-direction: column;
}
.description p {
    margin-top: 90px;
    margin-bottom: 60px;

    font-size: 18px;
}
.description .call-to-action {
    align-self: flex-start;

    border: 2px solid #1f2937;
    border-radius: 5px;
    padding: 30px 70px;

    font-size: 20px;
    letter-spacing: 1px;
    
    background-color: #ffffff;
}





#footer {
    display: flex;
    flex-direction: column;
    
    margin-top: -99px;
    padding: 100px 150px;

    background-color: #1f2937;
}
.signin {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.email {
    flex: 0.5;

    border-radius: 20px;
    padding: 10px 20px;

    font-family: 'Gill sans', sans-serif;
    letter-spacing: 1px;

    background-color: #f9faf8;
    color: #1f293726;
}





.wave {
    margin-top: -400px;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.wave svg {
    position: relative;
    display: block;
    width: calc(159% + 1.3px);
    height: 400px;
    transform: rotateY(180deg);
}
.wave .shape-fill {
    fill: #ffffff;
}

.wave2 {
    margin-top: 100px;
    margin-bottom: -128px;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.wave2 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 128px;
}
.wave2 .shape-fill {
    fill: #ffffff;
}