#nav-bar {
    display: flex;
    justify-content: space-between;

    padding: 10px 150px;

    background-color: #1f2937;
}
.logo-area {
    display: flex;
    gap: 10px;

    font-size: 30px;
    font-family: 'Gill sans', sans-serif;
    letter-spacing: 3px;

    color: #f9faf8;
}
.logo-image {
    width: 50.5px;
    border-radius: 50%;

    box-shadow: inset 10px 6px #ffca8b;
    background-color: #ffffff;
}
.links-area {
    display: flex;
    align-items: center;
}
.links {
    display: flex;
    align-items: center;
    gap: 40px;

    margin: 0px;
    padding: 0px;

    font-size: 12px;
    font-family: 'Verdana', sans-serif;
    letter-spacing: 1px;
}
.call-to-action {
    border-radius: 20px;
    padding: 10px 20px;

    background-color: #ffa500;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #e5e7eb;
}





#hero {
    display: flex;
    gap: 70px;

    padding-left: 150px;

    background: linear-gradient(90deg, rgba(31, 41, 55, 1) 0%, rgba(93, 100, 110, 1) 51%, rgba(145, 150, 157, 1) 100%);
}
.hero-message {
    display: flex;
    flex-direction: column;

    padding-top: 100px;
}
#footer .call-to-action, #hero .call-to-action {
    border-radius: 20px;
    padding: 10px 20px;

    font-family: 'Gill sans', sans-serif;
    letter-spacing: 1px;
    background-color: #ffa500;
}
#hero .call-to-action {
    align-self: flex-start;
}
img {
    width: 500px;
}
p,
h1 {
    margin-top: 0px;
    margin-bottom: 20px;
}
h1 {
    font-size: 40px;
    font-weight: 900;
    font-family: 'Gill Sans', sans-serif;
    letter-spacing: 1px;
    color: #f9faf8;
}
p {
    font-family: 'Gill Sans', sans-serif;
    letter-spacing: 0.2px;
    color: #e5e7eb;
}





.hero-extension {
    height: 400px;
    background: linear-gradient(90deg, rgba(31, 41, 55, 1) 0%, rgba(93, 100, 110, 1) 51%, rgba(145, 150, 157, 1) 100%);
}